@import "tailwindcss";





.btn-spinner {
  display: inline-block;
  width: 18px;
  height: 18px;

  border: 2px solid #ffffff;
  border-top: 2px solid transparent;

  border-radius: 50%;

  animation: btn-spin 0.7s linear infinite;
}

@keyframes btn-spin {
  to {
    transform: rotate(360deg);
  }
}


.auth-error {
  background: #ffe6e6;
  color: #d60000;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 14px;
}

